<%= form_for @product do |field| %>
	<p>
		<%= field.label "name" %><br>
		<%= field.text_field "name" %>
	</p>
	<p>
		<%= field.label "description" %><br>
		<%= field.text_field "description" %>
	</p>
	<p>
		<%= field.label "price_in_cents" %><br>
		<%= field.text_field "price_in_cents" %>
	</p>
  	<p>
    	<%= submit_tag "Save" %>
  	</p>
<% end %>

<%= form_for(@product) do |f| %>
	<% if @product.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being save:</h2>

		<ul>
		<% @product.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	</div>
<% end %>
<% end %>